<div class="restaurant-index">
	
	<h1>Restaurants</h1>
	<ul>
		<% restaurants.each(function (restaurant) { %>
				<li>
					<a href="/#/restaurants/<%= restaurant.id %>"><%= restaurant.escape("name") %></a>
				</li>
		<% }); %>
	</ul>
	    
	<div id="map-canvas">
	</div>
</div>


