<div class="row search-results">
	<div class="col-xs-4 col-xs-offset-1">
		<!-- <div class="restaurant-index">

			<h1>Restaurants</h1>
			<ul>
				<% restaurants.each(function (restaurant) { %>
						<li>
							<a href="/#/restaurants/<%= restaurant.id %>" data-id="<%= restaurant.id %>"><%= restaurant.escape("name") %></a>
						</li>
				<% }); %>
			</ul>
		</div> -->
				<div class="restaurants"></div>
	</div>

	<div class="col-xs-4">
		<div id="panel">
      <!-- <input id="address" type="textbox" value="">
      <input class="geocode" type="button" value="Enter Address" > -->
    </div>
		<div id="map-canvas"></div>
	</div>
</div>


