<div class="row">
	<div class='col-xs-6 col-xs-offset-3'>	
		<div class="random" style="color: white">
			<h1>Why don't you eat here?</h1>
			<div id="map-canvas-rand"></div>
			<div id="outputDiv" style="color: black"></div>
			<button type="button" class="btn btn-default btn-large" style="">Fuck this place</button>
		</div>
			<div id="random-listing"></div>
	</div>
</div>