<div class="random" style="color: white">
	<h1>Random Page</h1>
		<div id="map-canvas"></div>
		<div id="outputDiv" style="color: black"></div>
		<p><button type="button" style="color: black">Calculate
		          distances</button></p>
</div>