<div class="random" style="color: white">
	<h1>Why don't you eat here?</h1>
		<div id="map-canvas-rand"></div>
		<div id="outputDiv" style="color: black"></div>
		<button type="button" class="btn btn-default" style="">Fuck this place</button>
</div>