<form class="form-inline" role="form">
	<div class="form-group">
		<input type="text" class="form-control search-string" placeholder="Search by name, or category (Mexican, Italian, sushi, etc..)">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Enter the location you would like to search.">
	</div>
	<a href="/#/restaurants"><button type="submit" class="btn btn-default search">Search</button></a>
</form>