<div class="search-page" style="background: rgba(254, 254, 254, 0.7); padding: 20px">
	<div class="search-page-header" style="border-bottom: 1px solid #00000">
		<div class="row">
			<div class="col-xs-4 col-offset-xs-4" style="margin: auto; float: none; margin-bottom: 20px">
				<h1 style="color: black; font-size: 50px">Let's Eat!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-7" style="margin:auto; float: none">
				<form class="form-inline" role="form">
					<div class="form-group" style="width: 40%">
						<label for="search-bar" style="width: 15%">Find</label>
						<input type="search" class="form-control" id="search-bar" placeholder="burritos, Chinese, Chipotle.." style="width: 80%">
					</div>

					<div class="form-group" style="width: 40%; margin-right: 10px">
						<label for="area-bar" style="width: 12%; margin-right: 10px">Near</label>
						<input type="search" class="form-control" id="area-bar" value="San Francisco, CA" style="width: 80%">
					</div>
					<button type="submit" class="btn btn-default guest-signin" style="border-bottom: 10px; width: 10%; background: #FF4D4D; color: white">Search</button>
				</form>
			</div>
		</div>
	</div>
<hr style="color:black">
	<div class="search-page-body">
		<div class="row">
			<div class="col-xs-6" style="text-align: center">
				<h1>Recommended Restaurants</h1>
				<ul>
					<li>List of Restaurants and their listing views would go here.</li>
					<li>Recommended Restaurants would be randomly picked or if I can get it to work, the restaurants with the highest reviews</li>
				</ul>
			</div>
			<div class="col-xs-6" style="text-align: center">
				<h1>Can't Decide Where to Eat?</h1>
				<a href="/#/random"><button type="submit" class="btn btn-default btn-lg" style="background: #FF4D4D; color: white; width: 40%;">Let Us Pick For You!</button></a>
			</div>
		</div>
	</div>
</div>



<br>
<br>
<br>








<!--


<div class="search-page">

<div class="row search-page-header">
		<h1 style="color: white">Hungry? Lets Eat!</h1>
		<form class="form-inline search-bar" role="form">
			<div class="form-group">
				<input type="text" class="form-control search-string search-bar" placeholder="Search by name, or category (Mexican, Italian, sushi, etc..)">

			</div>
			<div class="form-group">
				<input type="text" class="form-control search-bar" placeholder="Enter the location you would like to search.">
			</div>
			<a href="/#/restaurants"><button type="submit" class="btn btn-default search">Search</button></a>
		</form>
</div>

<div class="row">
	<div class="col-md-6">
		<h1 style="color: white">Recent Reviews</h1>
	</div>

	<div class="col-md-6">
		<h1 style="color: white">Fuck it I'm hungry now</h1>
		<a href="/#/random"><button type="submit" class="btn btn-default">I'm Starving Pick For Me</button></a>
	</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> -->

