<div class="restaurant-show">
	
	<h1><%= restaurant.escape("name") %></h1>
	<h1><%= restaurant.escape("address") %></h1>
	
	<div class="restaurant-rating">
		
	</div>
	<br>
	<br>

<% if (restaurant.escape("name") === "Chipotle") { %>
	
<div id="cp_widget_47b96e5f-c7db-4986-bbc7-02f257d1357b">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_47b96e5f-c7db-4986-bbc7-02f257d1357b"; cpo["_fid"] = "AUJA3_7ixqF5";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>Chipotle</span><span>Burrito</span><span>height</span><span> 375</span><span>width</span><span> 500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Burrito</span><span>height</span><span> 375</span><span>width</span><span> 500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Crispy Tacos</span><span>height</span><span> 373</span><span>width</span><span> 615</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Soft Tacos</span><span>height</span><span> 387</span><span>width</span><span> 586</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 375</span><span>width</span><span> 500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 373</span><span>width</span><span> 615</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 387</span><span>width</span><span> 586</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span></noscript>
	
<% } else if (restaurant.escape("name") === "Burger King") { %>
	
	<div id="cp_widget_766f1122-0860-460a-8ba3-2903d3835d6e">...</div><script type="text/javascript">
	var cpo = []; cpo["_object"] ="cp_widget_766f1122-0860-460a-8ba3-2903d3835d6e"; cpo["_fid"] = "AIHA79Lzo6Z8";
	var _cpmp = _cpmp || []; _cpmp.push(cpo);
	(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
	cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
	var c = document.getElementsByTagName("script")[0];
	c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>Food</span><span>Food</span><span>Soup</span><span>height</span><span> 427</span><span>width</span><span> 640</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Sushi</span><span>cameramake</span><span> Panasonic</span><span>height</span><span> 1864</span><span>flash</span><span> 16</span><span>camerasoftware</span><span> Adobe Photoshop CC (</span><span>originaldate</span><span> 7/27/2013 2:23:02 AM</span><span>width</span><span> 1226</span><span>orientation</span><span> 1</span><span>cameramodel</span><span> DMC-LX7</span></noscript>
	
<% } else if (restaurant.escape("name") === "McDonalds") { %>

<div id="cp_widget_dd51897a-16ab-48fe-8c0a-0fe9118580ee">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_dd51897a-16ab-48fe-8c0a-0fe9118580ee"; cpo["_fid"] = "AANAC_rEx6b_";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>sushirrito</span><span>Family Meal</span><span>height</span><span> 366</span><span>width</span><span> 650</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Burger</span><span>height</span><span> 350</span><span>width</span><span> 620</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span></noscript>

<% } else if (restaurant.escape("name") === "Sushiritto") { %>

<div id="cp_widget_3c54cb90-551c-4235-95a5-b913de6314c8">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_3c54cb90-551c-4235-95a5-b913de6314c8"; cpo["_fid"] = "AUGAy_LLyq-C";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>sushirrito</span><span>nachos</span><span>height</span><span> 1200</span><span>width</span><span> 1600</span><span>camerasoftware</span><span> Google</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>burritos</span><span>height</span><span> 400</span><span>width</span><span> 536</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span></noscript>

<% } else if (restaurant.escape("name") === "La Folie") { %>
	
	<div id="cp_widget_d7548dd7-31ae-437a-a330-0700ee761228">...</div><script type="text/javascript">
	var cpo = []; cpo["_object"] ="cp_widget_d7548dd7-31ae-437a-a330-0700ee761228"; cpo["_fid"] = "AcAAm97eyaEE";
	var _cpmp = _cpmp || []; _cpmp.push(cpo);
	(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
	cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
	var c = document.getElementsByTagName("script")[0];
	c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>la folie</span><span>fancy</span><span>height</span><span> 400</span><span>width</span><span> 533</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 399</span><span>width</span><span> 600</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span></noscript>
	
<% } %>



	<div class="reviews">
		<ul class="review-list">
		</ul>
	</div>
	<div class="review-form">
	</div>
</div>

