<div class="restaurant-show">
	<h1><%= restaurant.escape("name") %></h1>
	<h1><%= restaurant.escape("address") %></h1>
	

<div id="cp_widget_766f1122-0860-460a-8ba3-2903d3835d6e">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_766f1122-0860-460a-8ba3-2903d3835d6e"; cpo["_fid"] = "AIHA79Lzo6Z8";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.<span>Food</span><span>Food</span><span>Soup</span><span>height</span><span> 427</span><span>width</span><span> 640</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Sushi</span><span>cameramake</span><span> Panasonic</span><span>height</span><span> 1864</span><span>flash</span><span> 16</span><span>camerasoftware</span><span> Adobe Photoshop CC (</span><span>originaldate</span><span> 7/27/2013 2:23:02 AM</span><span>width</span><span> 1226</span><span>orientation</span><span> 1</span><span>cameramodel</span><span> DMC-LX7</span></noscript>



	<div class="reviews">
		<ul class="review-list">
		</ul>
	</div>
	<div class="review-form">
	</div>
</div>

