<div class="restaurant-show">
	
	<h1><%= restaurant.escape("name") %></h1>
	<h3><%= restaurant.escape("address") %></h3>
	
	<div class="restaurant-rating">
		
	</div>
	<br>
	<br>

<% if (restaurant.escape("name") === "Chipotle") { %>
	
	
<% } else if (restaurant.escape("name") === "Burger King") { %>
	
	
<% } else if (restaurant.escape("name") === "McDonalds") { %>


<% } else if (restaurant.escape("name") === "Sushiritto") { %>


<% } else if (restaurant.escape("name") === "La Folie") { %>
	

	
<% } %>



	<div class="reviews">
		<ul class="review-list">
		</ul>
	</div>
	<div class="review-form">
	</div>
</div>

