<div class="row carousel-row">
  <div class="col-xs-8 col-xs-offset-2 slide-row">
      <div id="carousel-1" class="carousel slide slide-carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
              <img src="http://lorempixel.com/150/150?rand=1" alt="Image">
          </div>
          <div class="item">
              <img src="http://lorempixel.com/150/150?rand=2" alt="Image">
          </div>
          <div class="item">
              <img src="http://lorempixel.com/150/150?rand=3" alt="Image">
          </div>
        </div>
      </div>
      <div class="slide-content">
          <a href="/#/restaurants/<%= restaurant.id %>" data-id="<%= restaurant.id %>"><h3><%= restaurant.escape("name") %></h3><br><h5><%= restaurant.escape("address") %></h5></a>
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
              sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
          </p>
      </div>
  </div>
</div>
