<div class="new-session-form" style="text-align: center;">
	<div style="padding: 5%">
		<img src="/assets/FINALLOGO.png" style="background: white; margin-bottom: 10px; width: 100%">
		<form action="/session" method="post" role="form">
			<div class="form-group" style="width: 80%">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="email" name="user[username]" class="form-control" placeholder="Email Address" style="width: 100%; margin-bottom: 10px">
				<input type="password" name="user[password]" class="form-control" placeholder="Password" style="width: 100%">
			</div>

			<button type="submit" class="btn btn-default signin" style="width: 80%; margin-bottom: 10px; background: #FF4D4D; color: white">Sign In</button>
		</form>

		<form action="/session" method="post" role="form">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="user[username]" value="jeckchen@dinosaurs.me">
			<input type="hidden" name="user[password]" value="password">
			<button type="submit" class="btn btn-default guest-signin" style="margin-bottom: 10px; width: 80%; background: #FF4D4D; color: white">Guest Login</button>
		</form>
		<div class="signup">
			 <button class="btn btn-default" href="#signup" data-toggle="modal" data-target=".bs-modal-sm" style="width: 80%; background: #FF4D4D; color: white">Register Here</button>
			<!-- Modal -->
			<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			      <div class="modal-body">
							<h1> Register </h1>
			        <form class="form-horizontal" action="/users" method="post" role="form">
								<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			        	<fieldset>
			        <!-- Sign Up Form -->
			        <!-- Text input-->
			            <div class="control-group">
			              <label class="control-label" for="Email">Email:</label>
			              <div class="controls">
			                <input id="Email" name="user[username]" class="form-control" type="text" class="input-large" required="">
			              </div>
			            </div>
        
			          <!-- Password input-->
			            <div class="control-group">
			              <label class="control-label" for="password">Password:</label>
			              <div class="controls">
			                <input id="password" name="user[password]" class="form-control" type="password" placeholder="********" class="input-large" required="">
			                <em>At least 6 characters</em>
			              </div>
			            </div>
        
			        <!-- Text input-->
			            <div class="control-group">
			              <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
			              <div class="controls">
			                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
			              </div>
			            </div>
        
			          <!-- Button -->
			            <div class="control-group">
			              <label class="control-label" for="confirmsignup"></label>
			              <div class="controls">
			                <button type="submit" id="confirmsignup" name="confirmsignup" class="btn btn-default" style="background: #FF4D4D; color: white">Sign Up</button>
			              </div>
			            </div>
			          </fieldset>
			        </form>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>





 