<% if (rating === 1) { %>
	<img class="rating" src="assets/1star.png">  
<% } else if (rating === 1.5) { %>
	<img class="rating" src="assets/15stars.png">
<% } else if (rating === 2) { %>
	<img class="rating" src="assets/2stars.png" >
<% } else if (rating === 2.5) { %>
	<img class="rating" src="assets/25stars.png">
<% } else if (rating === 3) { %>
	<img class="rating" src="assets/3stars.png" >
<% } else if (rating === 3.5) { %>
	<img class="rating" src="assets/35stars.png">
<% } else if (rating === 4) { %>
	<img class="rating" src="assets/4stars.png" >
<% } else if (rating === 4.5) { %>
	<img class="rating" src="assets/45stars.png">
<% } else if (rating === 5) { %>
	<img class="rating" src="assets/5stars.png" >
<% } else if (isNaN(rating)) {%>
	<h3>Be the first to review this restaurant!</h3>
<% } %>
